body{
    height: 100%;
}
#bg-about{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../img/funk.jpg"); 


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;   
    height: 819px;
}
#bg-work{

    background-image:   url("../img/startup-photos.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
}
#bg-col-stud{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../img/muscle.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}
.muscles{
    margin: 30px;
    height: 150px;
}
#bg-contact{
background-color: black;
color: white;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50%;
}
.card{
    margin-top:150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    height: 350px;
    width: 750px;
    font-size: 13px;
    color: white;
    background-color: #171717;
}

#stud{
    margin-top:150px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    height: 350px;
    width: 750px;
    font-size: 13px;
    color: white;
    background-color: #171717;
}
.dp{
    position: absolute;
    top: 200px;
    left:900px;
    height:250px;
    width: 250px;
}


/*side nav*/
#mySidenav a {
    position: absolute;
    right: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  

/*top nav*/
  
#navbar {
    background-color: white;
    position: fixed;
    top: -5px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    
   z-index: 99999;
  }
  
  #navbar a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .col-md-6 {
      margin-left: 20px;
      margin-top: 100px;
      margin-bottom: 50px;
  }
  .col-md-4 {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}